#assignment-title{
    margin-left: 50px;
    margin-right: 50px;
}

#student-information {
    margin-left: 50px;
    margin-right: 50px; 
}

#student-assignment-container { 
    border: 2px solid black;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    /*height: 1500px;*/
}

#feedback-title {
    margin-left: 50px;
    margin-right: 50px;
}

#teacher-feedback-container {
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
}