#back-to-my-courses-button {
    margin: 0px;
    padding: 0px;
    background-color: white;
    box-shadow: none;
    border: none;
}

#back-to-my-courses-button:hover {
    text-decoration: underline;
}

#edit-course-container {
    margin-left: 50px;
    margin-right: 50px;
}

#edit-course-title {
    text-align: center;
}

#title-input-container {
    text-align: left;
    margin: 0 auto;
    width: 700px;
}

#title-input-label {
    display:block;
}

#title {
    width:700px;
    height:30px;
}

#description-input-container{
    text-align: left;
    margin: 0 auto;
    padding: 30px 0px 0px 0px;
    width: 700px;
}

#description-input-label {
    display:block;
}

#description {
    width:700px;
    height:200px;
}

#class-select-container {
    text-align: left;
    width: 700px;
    margin: 0 auto;
    padding: 30px 0px 0px 0px;
}

#class-select-label {
    display:block;
}

#class-select{
    width:300px;
    height:80px;
}

#checkboxes-container {
    float: right;
    margin: 0px 10px 0px 0px;
}

#in-order-checkbox-container{
    padding: 0px 0px 10px 0px;
}

#submit-button-container {
    width: 700px;
    margin: 0 auto;
    padding: 30px 0px 0px 0px;
}

#submit-button {
    width: 300px;
    margin: 0 auto; 
}

#course-content-table-container {
    visibility: hidden;
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}

  #edit-content-order-button {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

    border: none;
    font-size: 14px;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  #edit-content-order-button:hover {background-color: #ddd;}